.searchRow {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  background: gray;
  align-items: center;
}
input {
  color: white;
}

.characterImage {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

table {
  width: 100%;
}
th {
  color: #70e057;
  font-family: "Freckle Face", cursive;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;

  text-align: center;
  font-size: 24px;
  letter-spacing: 0.1em;
  /* width: 100px; */
}

th:hover {
  color: #29b0c8;
}
td {
  text-align: center;
  font-family: "Gugi", cursive;
  text-shadow: -1px -2px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  color: white;
  font-size: 20px;
  letter-spacing: 0.1em;
  width: 100px;
}
